/*Home section style and elements inside it*/

#home{
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

#home h1{
    margin-bottom: 30px;
}

#home h2{
    margin-bottom: 50px;
}

#home .btn{
    background-color: rgb(29, 167, 179);
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

#home .btn:hover{
    background-color: rgba(29, 167, 179, 0.5);
}

/* About section style */
.container{
    max-width: 1000px;
}

#about{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

#about h2{
    font-weight: bold;
}

#about p{
    font-size: 17px;
    margin-bottom: 30px;
}

.aboutImage{
    height: 120px;
}


/* Carousel section */

#promise{
    padding-top: 100px;
}

#myCarousel{
    width: 60%;
    margin: 0 auto;
}

.carousel-inner .item img{
    height: 400px;
    margin: 0 auto;
}

.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}


/* Footer Style */
.footer{
    background-color: rgba(29,167,179,0.1);
    color: #fff;
    padding: 10px 0;
    margin-top: 150px;
    font-size: 15px;
}